p{
    padding-left: 20%;
    padding-right: 20%;
}

h1,h2,h3,b,strong {color: plum}

h1,h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1pt solid LightSlateGray;
}

hr {
    color: lightslategray;
    border-top: 1pt dotted LightSlateGray;
    width: 50%;
}

body{
    color: darkslategray;
    font-family: "Georgia",serif;
    
}
